.App-header img {
  height: 150px;
  width: 150px;
}

.App-header h1 {
  margin-top: 3rem;
}

.App-header {
  display: flex;
  color: rgb(216, 36, 36);
}

.App-body {
  border-bottom: solid 3px rgb(216, 36, 36);
  border-top: solid 3px rgb(216, 36, 36);
  height: 60vh;
}

.App-body p {
 margin-top: 2rem;
 margin-left: 2rem;
}

.App-footer {
  text-align: center;
}
